body{
  font-family: 'Times New Roman';
  width: 100%;
  margin: 0px auto;
}
.header{
  height: 100px;
  background-color:#808080;
}

.header h1{
  color: #FFFFFF;
  text-align: center;
  margin-top : 0px;
  padding: 20px;
  font-size: 250%;
}

.container {
    position: absolute;
    left: 10%;
    right: 10%;
    top: 115px;
    padding-top: 10px;
    padding-bottom: 50px;
    background: lightgray;
    z-index: 20;
    margin-top: 25px;
    box-shadow: 1px 1px 4px 0 lightgray;
}

.section {
    clear: both;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 2px 1px;
    cursor: pointer;
}

.counter2 {
    background: gray;
    width: 20%;
    height: 260px;
    left: 10%;
    position: relative;
    float: left;
    text-align: center;
}

.counter2 h1 {
    font-size: 115px;
    margin-top: 20%;
    color: white;
}

.fingers-box {
    border: 1px solid lightgray;
    width: 20%;
    height: 260px;
    left: 20%;
    position: relative;
    float: left;
    border-radius: 5px;
    text-align: center;
}

.fingers-box p {
    margin-top: 37%;
	text-align: center;
}

.toes-box {
    border: 1px solid lightgray;
    width: 20%;
    height: 260px;
    left: 30%;
    position: relative;
    float: left;
    border-radius: 5px;
    text-align: center;
}

.toes-box p{
    margin-top: 37%;
}



/*Adding for different screen resolutions (For responsive pages)*/

@media only screen and (max-width: 1280px) {
    .fingers-block h1 {
        margin-top: 45%;
    }

    .toes-block h1 {
        margin-top: 45%;
    }

    .counter2 h1 {
        margin-top: 22%;
    }
}

@media only screen and (max-width: 1024px) {
    .header h1 {
        left: 2.5%;
    }

    .container {
        left: 2.5%;
        right: 2.5%;
    }

    .counter2 {
        width: 25%;
        left: 10%;
    }

    .counter2 h1 {
        margin-top: 22%;
    }

    .fingers-block {
        width: 25%;
        left: 12.5%;
    }

    .fingers-block h1 {
        margin-top: 37%;
    }

    .toes-block {
        width: 25%;
        left: 15%;
    }

    .toes-block h1 {
        margin-top: 37%;
    }
}

@media only screen and (max-width: 720px) {
    .header {
        text-align: center;
    }

    .header h1 {
        position: absolute;
    }

    .container {
        left: 2.5%;
        right: 2.5%;
    }

   
    .counter2 {
        width: 95%;
        left: 2.5%;
        top: 360px;
    }

    .counter2 h1 {
        margin-top: 7%;
    }

    .fingers-block {
        width: 46.25%;
        left: 2.5%;
        top: 365px;
    }

    .fingers-block h1 {
        margin-top: 25%;
    }

    .toes-block {
        width: 46.25%;
        left: 5%;
        top: 365px;
    }

    .toes-block h1 {
        margin-top: 25%;
    }
}